.card {
    @apply bg-white p-[10px] rounded-md shadow-md w-[450px] border-[1px] border-slate-300;
}

.card_title {
    @apply text-xl;
}

.btn_primary {
    @apply bg-primary text-white  disabled:bg-slate-500 disabled:text-white disabled:cursor-not-allowed
}

.btn_secondary {
    @apply bg-secondary text-white  disabled:bg-slate-500 disabled:text-white disabled:cursor-not-allowed
}

.btn_warning {
    @apply bg-warning text-black disabled:bg-slate-500 disabled:text-white disabled:cursor-not-allowed
}

.btn_error {
    @apply bg-error text-yellow-200 disabled:opacity-60 disabled:cursor-not-allowed
}

.btn_text_primary {
    @apply cursor-pointer text-primary
        hover:bg-primary hover:text-white hover:opacity-30 hover:px-2
        disabled:cursor-none;
}

.btn_text_secondary {
    @apply cursor-pointer text-secondary
        hover:bg-secondary hover:text-white hover:opacity-30 hover:px-2
        disabled:cursor-none;
}


.btn_text_warning {
    @apply cursor-pointer text-warning
        hover:bg-warning hover:text-slate-700 hover:opacity-30 hover:px-2
        disabled:cursor-none;
}

.btn_text_error {
    @apply cursor-pointer text-error
    hover:bg-error hover:text-warning hover:opacity-30 hover:px-2
    disabled:cursor-none;
}

.input_label {
    @apply text-[0.7em] font-bold text-slate-500
}

.input_field {
@apply w-[100%] bg-input-bg text-input-text border-[1px] border-slate-300 px-2
    focus:bg-input-bg-active focus:text-input-text-active focus:border-slate-400 
    text-[13px]
    disabled:bg-slate-50 min-h-[30px]
    outline-none;
}

textarea.input_field {
    @apply border p-2
}

.input_select {
    @apply bg-transparent pt-1 pb-1 border-b-[1px] border-slate-300
    focus:bg-input-bg-active focus:text-input-text-active focus:border-slate-400
}


.input_select .option {
    @apply text-white
}

.input_icon {
@apply absolute right-0 h-full items-center px-2 text-slate-700 hover:opacity-30;
}

.input_error {
@apply text-[0.7em] font-semibold text-error;
}

.suim_table {
    @apply mb-3 border;
}

.suim_table > thead > tr {
    @apply py-[3px] bg-primary text-white min-h-[30px];
}

.suim_table > thead > tr > th {
    @apply font-normal pl-[5px] pr-[5px] first:border-l-0 border-l;
}

.suim_table .row_select {
    @apply w-[30px]
}

.suim_table .row_action {
    @apply flex flex-row gap-x-1.5;
}

.suim_table > tbody > tr {
    @apply odd:bg-white even:bg-slate-100 hover:bg-slate-300;
}

.suim_table > tbody > tr > td {
    @apply first:border-l-0 border-l pl-[5px] pr-[5px];
}

.nodata {
    @apply bg-slate-100 mb-2 p-2 text-center border border-slate-200;
}

.loading {

}

.suim_form .section {
    @apply pb-5
}

.suim_form h1.title {
    @apply mb-[10px]
}

.suim_form { 
    
    .section_group_container {
        @apply gap-5;

        .section_group {
            @apply gap-[20px];
        }
    }

    .section {
        @apply pb-2 last:pb-0;

        div.title {
            @apply border-b-[1px] border-slate-500 mb-[15px] font-bold
        }
    }

    .tab_container {
        @apply mb-2 items-center font-semibold;

        .tab_selected {
            @apply p-2 border border-b-[5px] border-primary text-primary min-w-[50px] text-center;
        }
        
        .tab {
            @apply p-2 border-b-[5px] border-slate-300 cursor-pointer hover:text-secondary hover:border-secondary min-w-[50px] text-center;
        }
    }
}

.suim_form .checkboxOffset { 
    /* @apply pt-[12px]; */
}