stages:
- prep
- build
- deploy

variables:
  V_RND: 6
  V_BUILD_MODE: $CI_COMMIT_BRANCH
  V_DEVOPS_DOCKER: devops/$V_BUILD_MODE/docker
  V_DEVOPS_K8S: devops/$V_BUILD_MODE/k8s

before_script:
  - echo 'running pipeline for $CI_COMMIT_BRANCH'  
  
include:
  - '/ci/1_compiler.yml'
  - '/ci/2_build.yml'
  - local: /devops/dev.deploy/3_deploy.yml
    rules:
      - if: $CI_COMMIT_BRANCH=="dev.deploy"
  - local: /devops/stg.deploy/3_deploy.yml
    rules:
      - if: $CI_COMMIT_BRANCH=="stg.deploy"
