<div>
    <table cellspacing="0" cellpadding="0" style="width:539.45pt; border-collapse:collapse;">
        <tbody>
            <tr style="height:20.3pt;">
                <td colspan="2" rowspan="2" style="width:82.9pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><span style="height:0pt; text-align:center; display:block; position:absolute; z-index:0;"><img src="https://myfiles.space/user_files/202236_55b619161b0ae59e/1709790132_28.-bg-she-f-028-form-p2h-elf/1709790132_28.-bg-she-f-028-form-p2h-elf-1.jpeg" width="76" height="63" alt="C:\Users\user\Downloads\WhatsApp Image 2021-02-01 at 15.01.07 - Copy.jpeg" style="margin: 0 0 0 auto; display: block; "></span><strong><span style="font-family:Arial;">&nbsp;</span></strong></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;"><span style="font-family:'Times New Roman';">&nbsp;</span></p>
                </td>
                <td colspan="5" style="width:434.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#ed7d31;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;"><span style="font-family:'Times New Roman';">PT.BAGONG DEKAKA MAKMUR</span></p>
                </td>
            </tr>
            <tr style="height:27.75pt;">
                <td colspan="5" style="width:434.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">FORM PENGECEKKAN DAN PERAWATAN HARIAN ( P2H )</span></strong></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">ELF</span></strong></p>
                </td>
            </tr>
            <tr style="height:13.25pt;">
                <td colspan="7" style="width:527.9pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>PERNYATAAN DRIVER</strong></p>
                </td>
            </tr>
            <tr style="height:42.5pt;">
                <td colspan="4" style="width:265.65pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin:0; font-size:9pt;"><strong style="display:inline-block; width:100px;">NAMA</strong>: <strong>{{.Name}}</strong></p>
                    <p style="margin:0; font-size:9pt;"><strong style="display:inline-block; width:100px;">HARI/TGL</strong>: <strong>{{.ExecutionDate}}</strong></p>
                    <p style="margin:0; font-size:9pt;"><strong style="display:inline-block; width:100px;">SHIFT</strong>: <strong>{{.RoutineChecklist.Shift}}</strong></p>
                    <p style="margin:0; font-size:9pt;"><strong style="display:inline-block; width:100px;">LOKASI KERJA</strong>: <strong>{{.RoutineChecklist.WorkLocation}}</strong></p>
                </td>
                <td colspan="3" style="width:251.45pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin:0; font-size:9pt;"><strong style="display:inline-block; width:100px;">HO/JOB SITE</strong>: <strong>{{.Site}}</strong></p>
                    <p style="margin:0; font-size:9pt;"><strong style="display:inline-block; width:100px;">NO UNIT</strong>: <strong>{{.RoutineDetail.AssetID}}</strong></p>
                    <p style="margin:0; font-size:9pt;"><strong style="display:inline-block; width:100px;">KM UNIT</strong>: <strong>{{.RoutineChecklist.KmToday}}</strong></p>
                </td>
            </tr>
            <tr style="height:59.55pt;">
                <td colspan="6" style="width:366.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;"><strong><em>Keterangan :</em></strong></p>
                    <ol type="1" style="margin:0pt; padding-left:0pt;">
                        <li style="margin-left:8.55pt; font-size:9pt;">&nbsp;Beri tanda <strong>V&nbsp;</strong>pada kolom <strong>KONDISI</strong></li>
                    </ol>
                    <p style="margin-top:0pt; margin-left:22.75pt; margin-bottom:0pt; text-indent:-7.1pt; font-size:9pt;"><strong>-</strong><span style="width:4.34pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;</span>Kondisi Baik/Normal</p>
                    <p style="margin-top:0pt; margin-left:22.75pt; margin-bottom:0pt; text-indent:-7.1pt; font-size:9pt;"><strong>-</strong><span style="width:4.34pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;</span>Kondisi Rusak/Tidak Normal</p>
                    <ol start="2" type="1" style="margin:0pt; padding-left:0pt;">
                        <li style="margin-left:8.55pt; font-size:9pt;">&nbsp;Tuliskan dikolom<strong>&nbsp;Catatan</strong>, apabila ada informasi tambahan mengenai&nbsp; kerusakan yang terjadi</li>
                    </ol>
                </td>
                <td style="width:150.9pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>NOMOR FORM :</strong></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong>&nbsp;</strong></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>{{.RoutineChecklist._id}}</strong></p>
                </td>
            </tr>
            <tr style="height:29.35pt;">
                <td rowspan="2" style="width:14.7pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>NO</strong></p>
                </td>
                <td colspan="2" rowspan="2" style="width:197.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>ITEM YANG HARUS DIPERIKSA</strong></p>
                </td>
                <td rowspan="2" style="width:31.8pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt;"><strong>KODE BAHAYA</strong></p>
                </td>
                <td colspan="2" style="width:89.75pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>KONDISI</strong></p>
                </td>
                <td style="width:150.9pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:bottom;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>CATATAN</strong></p>
                </td>
            </tr>
            <tr style="height:17.75pt;">
                <td style="width:39.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt;"><strong>BAIK/ NORMAL</strong></p>
                </td>
                <td style="width:39.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt;"><strong>RUSAK/</strong></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt;"><strong>TIDAK NORMAL</strong></p>
                </td>
                <td style="width:150.9pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>

            {{range $index, $item := .ChecklistCategories}}
            <tr style="height:11.75pt;">
                <td style="width:14.7pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#aeaaaa;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt;"><strong>{{.NoText}}</strong></p>
                </td>
                <td colspan="6" style="width:502.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#aeaaaa;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;"><strong>{{.CategoryName}}</strong></p>
                </td>
            </tr>
            {{range $index, $item := .RoutineChecklistDetails}}
            <tr style="height:7.65pt;">
                <td style="width:14.7pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt;">{{.No}}</p>
                </td>
                <td colspan="2" style="width:197.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">{{.Name}}</p>
                </td>
                <td style="width:31.8pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt;">{{.Code}}</p>
                </td>
                <td style="width:39.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; text-align: center;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">{{ if eq .Status "Normal" }}V{{ else }}&nbsp;{{ end }}</p>
                </td>
                <td style="width:39.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; text-align: center;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">{{ if eq .Status "Damaged" }}V{{ else }}&nbsp;{{ end }}</p>
                </td>
                <td style="width:150.9pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">{{.Note}}</p>
                </td>
            </tr>
            {{end}}
            {{end}}

            <!-- Footer: Penting -->
            <tr style="height:50.85pt;">
                <td colspan="7" style="width:527.9pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">PENTING :</p>
                    <ol type="1" style="margin:0pt; padding-left:0pt;">
                        <li style="margin-left:29.07pt; padding-left:6.93pt; font-size:8pt;">Kode Bahaya AA = <strong><u>STOP OPERASI</u></strong> dan lakukan perbaikan</li>
                        <li style="margin-left:29.07pt; padding-left:6.93pt; font-size:8pt;">Kode Bahaya A&nbsp;=&nbsp;1x12 jam kerusakan harus diperbaiki</li>
                        <li style="margin-left:29.07pt; padding-left:6.93pt; font-size:8pt;"><strong><u>DILARANG</u></strong> mengoperasikan sarana dengan&nbsp; kerusakan kode bahaya AA</li>
                        <li style="margin-left:29.07pt; padding-left:6.93pt; font-size:8pt;">Setiap awal shift WAJIB menyerahkan P2H ke Foreman/Korlap lengkap dengan&nbsp; tanda tangan</li>
                    </ol>
                </td>
            </tr>

            <!-- Footer: Tanda Tangan -->
            <tr style="height:66.25pt;">
                <td colspan="4" style="width:265.65pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">Tanda Tangan</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt;">Driver</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt;">(__________________________________)</p>
                </td>
                <td colspan="3" style="width:251.45pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">Tanda Tangan</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt;">Foreman/Korlap</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt;">(__________________________________)</p>
                </td>
            </tr>
            <tr style="height:0pt;">
                <td style="width:25.5pt;"><br></td>
                <td style="width:68.2pt;"><br></td>
                <td style="width:140.15pt;"><br></td>
                <td style="width:42.6pt;"><br></td>
                <td style="width:50.2pt;"><br></td>
                <td style="width:50.35pt;"><br></td>
                <td style="width:161.7pt;"><br></td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:8pt;">&nbsp;</p>
</div>